<div class="d-flex" id="wrapper" style="height:100vh">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush" style="width: 15vh">
      <button routerLink="/"  class="list-group-item list-group-item-action bg-light" id="homepagebutton">Home Page</button>
      <button routerLink="/dashboard" class="list-group-item list-group-item-action bg-light" id="dashboardButton">Dashboard</button>
      <button routerLink="/schedule"  class="list-group-item list-group-item-action bg-light" id="scheduleButton">Schedule</button>
      <button routerLink="/controller" class="list-group-item list-group-item-action bg-light" id="controllerButton">Controllers</button>
      <button routerLink="/waterUsage" class="list-group-item list-group-item-action bg-light" id="waterUsageButton">Water Usage</button>
    </div>
  </div>
  <div id="page-content-wrapper">
    schedule works!
  </div>

</div>