<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" routerLink="">Irrigation System</a>
  <a routerLink="/dashboard" class="navbar-brand" *ngIf="loggedIn">Dashboard</a>
  <a routerLink="/schedule" class="navbar-brand" *ngIf="loggedIn">Schedule</a>
  <a routerLink="/waterUsage" class="navbar-brand" *ngIf="loggedIn">Water Usage</a>
  <div>
    <a class="navbar-brand" routerLink="login" *ngIf="!loggedIn">Login</a>
    <a class="navbar-brand" href="#" (click)=logout($event) *ngIf="loggedIn">Logout</a>
  </div>

</nav>