<div class="d-flex" id="wrapper" style="height:100vh">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush" style="width: 15vh">
      <button routerLink="/" class="list-group-item list-group-item-action bg-light" id="homepagebutton">Home Page</button>
      <button routerLink="/dashboard" class="list-group-item list-group-item-action bg-light" id="dashboardButton">Dashboard</button>
      <button routerLink="/schedule" class="list-group-item list-group-item-action bg-light" id="scheduleButton">Schedule</button>
      <button routerLink="/controller" class="list-group-item list-group-item-action bg-light" id="controllerButton">Controllers</button>
      <button routerLink="/waterUsage" class="list-group-item list-group-item-action bg-light" id="waterUsageButton">Water Usage</button>
    </div>
  </div>
  <div id="page-content-wrapper">
    <h1>You are currently in {{ city }}, {{ state }} {{ country }}</h1>
    <h3>Lat is {{ lat }} and Long is {{ lng }}</h3>
    <agm-map 
    [latitude]="lat" 
    [longitude]="lng" 
    (mapDblClick)="onMapDblClick($event)"
    (mapRightClick)="onMapRtClick($event)"
    [disableDoubleClickZoom]="true"
    [zoom]="zoom">
      <agm-marker 
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)"
          (markerRightClick)="markRtClick(m.lat, m.lng)">
          
        <agm-info-window>
          <strong>
            Latitude: {{ m.lat }}
            <br>
            Longitude: {{ m.lng }}
          </strong>
        </agm-info-window>
        
      </agm-marker>

      <agm-rectangle
      *ngFor="let a of areas; let i = index"
      [north]="a.north"
      [south]="a.south"
      [east]="a.east"
      [west]="a.west"
      [rectangleDraggable]="true"
      [fillColor]="a.color"
      [editable]="true"
      (dragEnd)="areaDragEnd(a, $event)"
      (rightClick)="areaRtClick(a.north)"
      (boundsChange)="areaDragEnd(a, $event)"
      >
      </agm-rectangle>
    </agm-map>
  </div>

  <div style="margin-left: 10px" style="width: 25%">
      Right Click map to add an area
      <br>
      Double Click map to add a marker
      <br>
      Right Click map marker or area to remove them
  </div>

</div>